.input-container {
    position: relative;
    margin: 10px 0;
    width: 100%;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--third-color);
    border-radius: 6px;
    background: transparent;
    color: var(--text-color);
    font-size: 1rem;
}

.input-container input::placeholder {
    color: var(--third-color);
    font-size: 0.9rem;
}
.input-error {
    color: red;
    font-size: 0.75rem;
    margin-top: 4px;
    display: block;
  }
  