.form-group{
    margin-bottom: 15px;
    margin-top: 15px;
    align-items: start;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group select{
    border-radius: 6px;
    padding: 10px 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1rem;
    width: 100%;
    margin: 0;
    height: auto;
}

.form-group option{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1rem;
    width: 100%;
    margin: 0;
}

.form-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

